/* typographic styles (headlines, font-sizes, gaps) */
@font-face {
  font-family: 'Titilium Web';
  src: url('../../../fonts/Titillium-Regular.woff')format('woff'),
       url('../../../fonts/Titillium-Regular.woff2')format('woff2'),
       url('../../../fonts/Titillium-BoldUpright.woff')format('woff'),
       url('../../../fonts/Titillium-BoldUpright.woff2')format('woff2');
font-style: normal;
}

/* headlines */




