/* Font-face definitions */
@font-face {
  font-family: 'Titillium';
  src:
  url('../../../fonts/Titillium-BoldUpright.woff') format('woff'),
  url('../../../fonts/Titillium-BoldUpright.woff2') format('woff2'),
  url('../../../fonts/Titillium-Regular.woff') format('woff'),
  url('../../../fonts/Titillium-Regular.woff2') format('woff2'),
  url('../../../fonts/Titillium-RegularUpright.woff') format('woff'),
  url('../../../fonts/Titillium-RegularUpright.woff2') format('woff2'),
  url('../../../fonts/Titillium-Semibold.woff') format('woff'),
  url('../../../fonts/Titillium-Semibold.woff2') format('woff2'),
  url('../../../fonts/Titillium-Thin.woff') format('woff'),
  url('../../../fonts/Titillium-Thin.woff2') format('woff2'),
  url('../../../fonts/Titillium-ThinUpright.woff') format('woff'),
  url('../../../fonts/Titillium-ThinUpright.woff2') format('woff2');
  font-weight: normal;
}
